<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        Home Page 
        <script src="/socket.io/socket.io.js">
           
        </script>
        <script >
            const socket = io('http://localhost:4000')
            socket.on('update', (socket) => {
                console.log('Action : ' + socket)
            })
        </script>
    </body>
</html>